---
layout : default
---
{{^manual-post}}
<article class="art-post art-article">
  <div class="art-postcontent art-postcontent-0 clearfix">
{{/manual-post}}
{{#avatar}}
<img class="avatar" alt="{{avatar}}" src="{{urls.media}}/{{avatar}}.jpg" />
{{/avatar}}
{{^no-title}}
<h1>{{title}}</h1>
{{/no-title}}
{{{ page.content }}}
{{^manual-post}}
  </div>
</article>
{{/manual-post}}
{{^no-responsive-submenu}}
<div class="responsive-phone-and-tablet">
{{>vertical_menu}}
</div>
{{/no-responsive-submenu}}

