<p class="no-responsive"><strong>Tampa Woman's Health
Center</strong> is committed to providing our patients with
professional, non-judgmental, courteous attention.  We have offices in
Tampa, St.  Petersburg and Clearwater.</p>

<p class="no-responsive">If you have questions about women's
health issues and reproductive options, please call us at the offices
below to speak confidentially with a member of our highly trained
staff:</p>

<div class="art-content-layout">
  <div class="art-content-layout-row">
{{#data.clinics}}
    <div class="art-layout-cell">
      <a class="hotspot" href="/locations/#{{anchor}}">
          <span>{{name}}</span><br />
{{address}}<br />
{{phone}}<br />
{{#hours}}
{{.}}<br />
{{/hours}}
        </a>
    </div>
{{/data.clinics}}
  </div>
</div>

<p class="art-page-footer">Serving the Woman in our Community Since 1975</p>
<p class="art-page-footer">Copyright 2010-{{data.year}} {{data.author.name}}</p>
<p class="art-page-footer">
  <a href="/privacy/">Privacy policy</a> |
  <a href="/terms/">Terms Of Use</a>
</p>
<div id="contact-tab">
  <a href="http://form.jotform.us/form/20853509025147" target="_blank">Contact Us</a>
</div>
