#tabs {
  font-family: inherit;
  font-size: inherit;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.tel_tabular fieldset {
  margin: 0 0 1em 0;
  padding: .25em .25em;
}

.tel_tabular legend {
  font-weight: bold;
}

ol.tel_tabular {
  margin: 0;
  display: table;
}

.tel_tabular ol {
  margin: 0;
  display: table;
}

.tel_tabular li {
  height: 2em;
  display: table-row;
}

.tel_tabular li > label {
  display: table-cell;
}

.tel_tabular label {
  text-align: right;
  padding-left: 1em;
}

.tel_tabular label:after {
  content: ":";
}

.tel_tabular input {
  width: 25em;
  margin-left: 0.25em;
}

.tel_tabular label:first-child {
  min-width: 8em;
}

.tel_tabular label {
  min-width: 4em;
}

.tel_tabular span > label {
  min-width: auto;
}

.tel_tabular span {
  display: table-cell;
}

.tel_tabular > label, .tel_tabular span > label {
  display: inline-block;
}

.tel_tabular > label:after {
  content: ""
}

.tel_tabular > input, .tel_tabular span > input {
  width: auto;
}

input.tel_state, span > input.tel_state { /* second selector is to override specifity of another selector */
  width: 2em;
}

input.tel_zip, span > input.tel_zip { /* second selector is to override specifity of another selector */
  width: 5em;
}

input.tel_ext, span > input.tel_ext { /* second selector is to override specifity of another selector */
  width: 5em;
}

input[type="number"], span > input[type="number"] {
  width: 5em;
}

input[type="textarea"], span > input[type="textarea"] {
  height: 2em;
}

.art-textblock {
  position: relative;
  bottom: -100px;
  font-size: 13px;
  text-align: center;
}

.art-textblock p {
  width: 12em;
  margin: 0 0 1em 0.5em;
  float: left;
}

dt {
  font-family: Handlee, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-size: large;
}

#contact-tab {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 9999;
}

#contact-tab>a
{
   background: #B4CCD0;
   background: linear-gradient(top, #CDDDE0 0, #9BBBC0 100%) no-repeat;
   background: -webkit-linear-gradient(top, #CDDDE0 0, #9BBBC0 100%) no-repeat;
   background: -moz-linear-gradient(top, #CDDDE0 0, #9BBBC0 100%) no-repeat;
   background: -o-linear-gradient(top, #CDDDE0 0, #9BBBC0 100%) no-repeat;
   background: -ms-linear-gradient(top, #CDDDE0 0, #9BBBC0 100%) no-repeat;
   background: linear-gradient(top, #CDDDE0 0, #9BBBC0 100%) no-repeat;
   -svg-background: linear-gradient(top, #CDDDE0 0, #9BBBC0 100%) no-repeat;
   -webkit-border-radius:0 0 2px 2px;
   -moz-border-radius:0 0 2px 2px;
   border-radius:0 0 2px 2px;
   border:1px solid #82A9B0;
   border-top:none;
   padding:0 12px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 25px;
   cursor: pointer;
   text-decoration: none;
   color: #1D2C2F;
   line-height: 25px;
   text-align: center;
}

#contact-tab>a:hover
{
   background: #82BEDE;
   background: linear-gradient(top, #A2CFE6 0, #66AFD6 100%) no-repeat;
   background: -webkit-linear-gradient(top, #A2CFE6 0, #66AFD6 100%) no-repeat;
   background: -moz-linear-gradient(top, #A2CFE6 0, #66AFD6 100%) no-repeat;
   background: -o-linear-gradient(top, #A2CFE6 0, #66AFD6 100%) no-repeat;
   background: -ms-linear-gradient(top, #A2CFE6 0, #66AFD6 100%) no-repeat;
   background: linear-gradient(top, #A2CFE6 0, #66AFD6 100%) no-repeat;
   -svg-background: linear-gradient(top, #A2CFE6 0, #66AFD6 100%) no-repeat;
   -webkit-border-radius:0 0 2px 2px;
   -moz-border-radius:0 0 2px 2px;
   border-radius:0 0 2px 2px;
   border:1px solid #56A7D2;
   border-top:none;
   padding:0 12px;
   margin:0 auto;
   text-decoration: none;
   color: #F5F5F5;
}

.art-headline {
  white-space: normal;
}

.table-cell {
  display: table-cell;
}

.spread-cell {
  display: table-cell;
  min-width: 20em;
}

