img[alt="female_doctor_folding_arms"] {
  width: 200px;
  height: 150px;
}

img[alt="minority_female_outside"] {
  width: 113px;
  height: 170px;
}

img[alt="pair_of_doctors"] {
  width: 200px;
  height: 200px;
}

img[alt="hispanic_female"] {
  width: 113px;
  height: 170px;
}

img[alt="hispanic_female_nurse"] {
  width: 180px;
  height: 270px;
}

img[alt="ru486"] {
  width: 220px;
  height: 254px;
}

img[alt="minority_female"] {
  width: 113px;
  height: 170px;
}

img[alt="female_nurse_outdoors"] {
  width: 200px;
  height: 204px;
}

img[alt="hispanic_female_smiling"] {
  width: 113px;
  height: 170px;
}

img[alt="hispanic_female_thinking"] {
  width: 200px;
  height: 133px;
}

img[alt="black_businesswoman"] {
  width: 170px;
  height: 113px;
}

img[alt="hispanic_female_closeup"] {
  width: 112px;
  height: 170px;
}

img[alt="hispanic_female_sitting"] {
  width: 170px;
  height: 162px;
}

img[alt="white_female_head_in_hands"] {
  width: 100px;
  height: 150px;
}

img[alt="minority_female_nurse"] {
  width: 200px;
  height: 300px;
}

img[alt="female_nurse_calling"] {
  width: 220px;
  height: 171px;
}

img[alt="female_doctor_listening_to_patient"] {
  width: 220px;
  height: 147px;
}

img[alt="three_females_on_stairs"] {
  width: 200px;
  height: 133px;
}

img[alt="female_asian"] {
  width: 170px;
  height: 170px;
}

img[alt="female_nurse_with_stethoscope"] {
  width: 220px;
  height: 147px;
}

img[alt="female_counselor"] {
  width: 113px;
  height: 170px;
}

img[alt="nurse_with_patient"] {
  width: 220px;
  height: 147px;
}

img[alt="black_female_doctor"] {
  width: 200px;
  height: 300px;
}

img[alt="black_female"] {
  width: 113px;
  height: 170px;
}

img[alt="plan_b"] {
  width: 220px;
  height: 165px;
}

img[alt="female_doctor_discussing_chart"] {
  width: 220px;
  height: 329px;
}

img[alt="hispanic_female_with_flower"] {
  width: 112px;
  height: 170px;
}

img[alt="family_problems"] {
  width: 200px;
  height: 150px;
}

img[alt="black_female"] {
  width: 113px;
  height: 170px;
}

img[alt="asian_female_with_drink"] {
  width: 128px;
  height: 170px;
}

img[alt="modern_hispanic_female"] {
  width: 200px;
  height: 133px;
}

img[alt="black_male_doctor"] {
  width: 250px;
  height: 156px;
}

img[alt="asian_male_calling"] {
  width: 200px;
  height: 133px;
}

img[alt="young_black_businessman"] {
  width: 150px;
  height: 224px;
}

img[alt="ring_of_birth_control_pills"] {
  width: 200px;
  height: 249px;
}

img[alt="nuvaring"] {
  width: 220px;
  height: 233px;
}

img[alt="administering_depo"] {
  width: 220px;
  height: 146px;
}

img[alt="hispanic_married_couple"] {
  width: 200px;
  height: 133px;
}

img[alt="birth_control_pills"] {
  width: 200px;
  height: 133px;
}

