img[alt="female-doctor-folding-arms"] {
  width: 200px;
  height: 150px;
}

img[alt="minority-female-outside"] {
  width: 113px;
  height: 170px;
}

img[alt="pair-of-doctors"] {
  width: 200px;
  height: 200px;
}

img[alt="hispanic-female"] {
  width: 113px;
  height: 170px;
}

img[alt="hispanic-female-nurse"] {
  width: 180px;
  height: 270px;
}

img[alt="ru486"] {
  width: 220px;
  height: 254px;
}

img[alt="minority-female"] {
  width: 113px;
  height: 170px;
}

img[alt="female-nurse-outdoors"] {
  width: 200px;
  height: 204px;
}

img[alt="hispanic-female-smiling"] {
  width: 113px;
  height: 170px;
}

img[alt="hispanic-female-thinking"] {
  width: 200px;
  height: 133px;
}

img[alt="black-businesswoman"] {
  width: 170px;
  height: 113px;
}

img[alt="hispanic-female-closeup"] {
  width: 112px;
  height: 170px;
}

img[alt="hispanic-female-sitting"] {
  width: 170px;
  height: 162px;
}

img[alt="white-female-head-in-hands"] {
  width: 100px;
  height: 150px;
}

img[alt="minority-female-nurse"] {
  width: 200px;
  height: 300px;
}

img[alt="female-nurse-calling"] {
  width: 220px;
  height: 171px;
}

img[alt="female-doctor-listening-to-patient"] {
  width: 220px;
  height: 147px;
}

img[alt="three-females-on-stairs"] {
  width: 200px;
  height: 133px;
}

img[alt="female-asian"] {
  width: 170px;
  height: 170px;
}

img[alt="female-nurse-with-stethoscope"] {
  width: 220px;
  height: 147px;
}

img[alt="female-counselor"] {
  width: 113px;
  height: 170px;
}

img[alt="nurse-with-patient"] {
  width: 220px;
  height: 147px;
}

img[alt="black-female-doctor"] {
  width: 200px;
  height: 300px;
}

img[alt="black-female"] {
  width: 113px;
  height: 170px;
}

img[alt="plan-b"] {
  width: 220px;
  height: 165px;
}

img[alt="female-doctor-discussing-chart"] {
  width: 220px;
  height: 329px;
}

img[alt="hispanic-female-with-flower"] {
  width: 112px;
  height: 170px;
}

img[alt="family-problems"] {
  width: 200px;
  height: 150px;
}

img[alt="black-female"] {
  width: 113px;
  height: 170px;
}

img[alt="asian-female-with-drink"] {
  width: 128px;
  height: 170px;
}

img[alt="modern-hispanic-female"] {
  width: 200px;
  height: 133px;
}

img[alt="black-male-doctor"] {
  width: 250px;
  height: 156px;
}

img[alt="asian-male-calling"] {
  width: 200px;
  height: 133px;
}

img[alt="young-black-businessman"] {
  width: 150px;
  height: 224px;
}

img[alt="ring-of-birth-control-pills"] {
  width: 200px;
  height: 249px;
}

img[alt="nuvaring"] {
  width: 220px;
  height: 233px;
}

img[alt="administering-depo"] {
  width: 220px;
  height: 146px;
}

img[alt="hispanic-married-couple"] {
  width: 200px;
  height: 133px;
}

img[alt="birth-control-pills"] {
  width: 200px;
  height: 133px;
}

